/**
 * Drawer Menu
 */
.drawer {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1110;
  display: block;
  width: 4.5rem;
  height: 4.5rem;
  padding: .75rem;
  border: 0;
  background-color: transparent;
  text-align: center;
  outline: 0;
  cursor: pointer;
}

.drawer__navicon.icon, .drawer__close.icon {
  position: absolute;
  top: .75rem;
  right: .75rem;
  width: 3rem;
  height: 3rem;
  -webkit-transition: .25s all ease-in-out;
  transition: .25s all ease-in-out;
}

.drawer__navicon {
  opacity: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.drawer:not(.--active) .drawer__navicon {
  opacity: 1;
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.drawer__close {
  color: var(--wp--preset--color--white);
  opacity: 1;
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.drawer:not(.--active) .drawer__close {
  opacity: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.drawerMenu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1100;
  width: 18rem;
  height: 100%;
  margin: auto;
  background-color: rgba(51, 51, 51, 0.85);
  text-align: center;
  -webkit-transition: width ease-in-out .25s;
  transition: width ease-in-out .25s;
}

.drawerMenu:not(.--show) {
  width: 0;
}

.drawerMenu__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 100%;
  margin-bottom: 0;
  padding-left: 20%;
  text-align: left;
  opacity: 1;
}

.drawerMenu__inner:not(.--show) {
  opacity: 0;
}

.drawerMenu__inner.--collapse {
  display: none;
}

.drawerMenu__siteBrand, .drawerMenu__primaryMenu, .drawerMenu__socialMenu {
  list-style: none;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  padding-left: 0;
}

.drawerMenu__socialMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.drawerMenu__item {
  width: 100%;
  margin-bottom: 0;
  padding-top: .375rem;
  padding-bottom: .375rem;
  text-transform: capitalize;
}

.drawerMenu__item.--brand {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.drawerMenu__item.--brand img {
  width: auto;
  height: 3rem;
}

.drawerMenu__item.--social {
  width: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  fill: var(--wp--preset--color--white);
}

.drawerMenu__item a {
  display: block;
  color: var(--wp--preset--color--white);
  text-decoration: none;
}

.drawerMenuOverlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1090;
  display: block;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.drawerMenuOverlay.--collapse {
  display: none;
}

/**
 * Component - Icon
 */
.icon {
  position: relative;
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  overflow: hidden;
  fill: currentColor;
}

.icon__cnt {
  width: 100%;
  height: 100%;
  background: inherit;
  fill: inherit;
  pointer-events: none;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -ms-transform: translate(0.5px, -0.3px);
}

.icon--m {
  width: 3rem;
  height: 3rem;
}

.icon--l {
  width: 4.5rem;
  height: 4.5rem;
}
